{% extends "base.html" %}
{% block content %}
<div class="register">
   <h1>Register</h1>
    {% if wrongInsert %}
    <p class="error-message">Inserts are not correct. Please check your Data.</p>
    {% endif %}

    {% if message == 'UNIQUE constraint failed: auth_user.username' %}
    <p class="error-message">user exists</p>
    {% endif %}

    <form class="login-form" method="POST" action="/register/">
        {% csrf_token %}
        <div class="input-wrapper">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" name="username" type="text" id="user" >
                <label class="mdl-textfield__label" for="user">Username</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" name="email" type="email" id="email">
                <label class="mdl-textfield__label" for="email">Email</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" name="password" type="password" id="password">
                <label class="mdl-textfield__label" for="password">Password</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" name="password-confirm" type="password" id="password-confirm">
                <label class="mdl-textfield__label" for="password-confirm">Password confirmation</label>
            </div>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">register</button>
    </form>
</div>

{% endblock %}